html {
  height: 100%;
  font: 15px sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #333;
  padding: 10px;
}

.user-menu {
  margin-left: auto;
  &__avatar {
    width: auto;
    height: 100%;
  }
  &__avatar-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }
}

.input {
  display: block;
  margin: 10px;
}

.canvas {
  width: 100%;
  height: auto;
  border: 1px dotted gray;
}

.btns-wrapper {
  display: flex;
  padding: 20px 0;
}

.btn {
  cursor: pointer;
  margin: 10px;
  padding: 0 20px;
  background-color: green;
  outline: none;
  border: none;

  &--disabled {
    cursor: auto;
    background-color: gray;
  }
}

.frame {
  position: absolute;
  border-radius: 50%;
  border: 2px dotted black;
  cursor: move;
}

.main {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}